<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Blogs.EfAndSprocfForCqrs.Dependencies.Properties.Settings.DefaultConnection"
            connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Blogs.EfAndSprocfForCqrs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>